<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
<h2>Добро пожаловать!</h2>
<p style="font-size: 1.5em;">You can <strong style="background-color: #317399; padding: 0 5px; color: #fff;">type your text</strong> directly in the editor or paste it from a Word Doc, PDF, Excel etc.</p>
<p style="font-size: 1.5em;">The <strong>visual editor</strong> on the right and the <strong>source editor</strong> on the left are linked together and the changes are reflected in the other one as you type! <img src="https://html5-editor.net/images/smiley.png" alt="smiley" /></p>
<table class="editorDemoTable" style="width: 282px;">
<tbody>
<tr>
<td style="width: 99.9219px;"><strong>Name</strong></td>
<td style="width: 47.0781px;"><strong>City</strong></td>
<td style="width: 106px;"><strong>Age</strong></td>
</tr>
<tr>
<td style="width: 99.9219px;">John</td>
<td style="width: 47.0781px;">Chicago</td>
<td style="width: 106px;">23</td>
</tr>
<tr>
<td style="width: 99.9219px;">Lucy</td>
<td style="width: 47.0781px;">Wisconsin</td>
<td style="width: 106px;">19</td>
</tr>
<tr>
<td style="width: 99.9219px;">Amanda</td>
<td style="width: 47.0781px;">Madison</td>
<td style="width: 106px;">22</td>
</tr>
</tbody>
</table>
<p>This is a table you can experiment with.</p>